.container {
    position: absolute;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 25px;
    width: 100%;
    top: 17.5px;
}

.nav-link {
    display: flex;
    align-items: center;
}

.web img {
    height: 70px;
    z-index: 2;
}

.mobile {
    display: none;
}

.buttons button {
    width: 100px;
}

.buttons {
    display: flex;
    gap: 10px;
    z-index: 2;
}

.login {
    color: #293745;
    background-color: white;
    border: solid 2px #293745;
}

.profile-post {
    display: flex;
    gap: 30px;
    z-index: 2;
}

@media (max-width: 800px) {
    .web {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .mobile img {
        height: 70px;
    }

    .login {
        display: none;
    }
}