.item-details {
    top: 50px;
    padding: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    gap: 100px;
}

.everything-but-image {
    display: flex;
    flex-direction: column;
    gap: 45px;
    flex-grow: 1;
    width: 50vw;
}

.title {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.caption {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: flex-start;
    word-break: break-all;
    gap: 50px;
}

.desc-seller {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sell-item {
    display: flex;
    gap: 30px;
    align-items: center;
}

#buyer-email {
    color: #293745;
    font-family: 'Gotham Medium';
    font-size: 14px;
    text-indent: 15px;
    text-transform: uppercase;
    height: 50px;
    border: 2px solid #293745;
    flex: 1;
}

.image-holder {
    width: 60vh;
    height: 60vh;
}

.item-details button {
    width: 200px;
}

@media (max-width: 800px) {
    .item-details {
        padding-left: 30px;
        padding-right: 30px;
        gap: 50px;
    }

    .title {
        flex-wrap: wrap-reverse;
        gap: 0px;
        margin-bottom: 10px;
    }

    .caption {
        display: inline;
    }

    .caption p {
        margin-bottom: 5px;
    }
}