:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #314f6a;
  text-decoration: inherit;
}
a:hover {
  color: #395c7b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Gotham Bold'; 
  src: url('assets/GothamBold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium'; 
  src: url('assets/GothamMedium.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

h1 {
  font-family: 'Gotham Bold';
  font-size: 36px;
  text-transform: uppercase;
  color: #293745;
  margin: 0;
}

h2 {
  font-family: 'Gotham Bold';
  font-size: 21px;
  text-transform: uppercase;
  color: #293745;
  margin: 0;
}

h3 {
  font-family: 'Gotham Medium';
  font-size: 18px;
  text-transform: uppercase;
  color: #293745;
}

p {
  font-family: 'Gotham Medium';
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

button {
  width: 150px;
  height: 45px;
  border-radius: 8px;
  border: 0px ;
  cursor: pointer;
  transition: transform 0.25s;
  color: white;

  font-family: 'Gotham Medium';
  font-size: 14px;
  text-transform: uppercase;
}
button:hover {
  transform: scale(1.02);
}

.input-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  width: 450px;
  height: 45px;
  border: 2px solid #293745;

  color: #293745;
  font-family: 'Gotham Medium';
  font-size: 14px;
  text-indent: 15px;
}

.input::placeholder {
  text-transform: uppercase;
}

input:focus {
  border: 2px solid #293745;
}

input:-webkit-autofill {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error {
  color: red;
  margin-top: -10px;
  position: absolute;
  width: 450px;
}

.page-center {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #395c7b;
  }
  button {
    background-color: #293745;
  }
}
