.chip {
    background-color: #293745;
    color: white;
    font-family: 'Gotham Medium';
    font-size: 14px;
    text-transform: uppercase;
    width: fit-content;
    padding: 8px 12px;
    display: inline-block;
}