.search-container {
    position: absolute;
    width: 100%;
    padding-left: 220px;
    padding-right: 270px;
    top: 30px;
}

.search-icon {
    position: absolute;
    width: 20px;
    top: 50%;
    right: 290px;
    transform: translateY(-50%);
}

.search {
    border: 2px solid #293745;
    border-radius: 5px;
    height: 45px;
    width: 100%;

    color: #293745;
    font-family: 'Gotham Medium';
    font-size: 14px;
    text-indent: 15px;
    text-transform: uppercase;
}

.search:focus-visible {
    outline-color: #395c7b;
}

@media (max-width: 800px) {
    .search-container {
        padding-left: 110px;
        padding-right: 150px;
    }

    .search-icon {
        right: 170px;
    }
}